body {background-color: #fe9000;}
#header1 {background-color: white; text-align: center; margin-left: 3%; margin-right: 3%;}
nav {background-color: white; margin: 3% 3% 0 3%; padding: 1%; text-align: center;}
section {background-color: white; margin: 3%; padding: 2%;}
#section1 {text-align: center;}
#header2 {text-align: center;}
input[type=button] {background: white;}
input[type=button]:hover {background: #fe9000;}